.App {
  background-image: url(./images/final_2_paw.jpg);
  background-blend-mode: luminosity;
  background-color: #f7e8d9;
}

#logo {
  height: 60px;
  width: 60px;
  margin-top: 10px;
}

nav {
  background-color: #3a606e;
  height: 5em;
  width: 1200px;
  margin-left: 100px;
}

nav ul {
	list-style-type: none;
  display: inline;
}

nav ul li{
	display: inline;
}

#right-nav {
  float: right;
}

#title {
  font-size: 3.5em;
  padding: .5em;
  vertical-align: super;
}

nav ul li a {
	text-decoration: none;
	padding: 1em;
	color: #fff;
  font-size: 1.25em;
  text-shadow: 3px 3px 8px #c2948a;
}

nav ul li a:hover {
	color: #c2948a;
}

nav ul li h4 {
	text-decoration: none;
	padding: 1em;
	color: #fff;
  font-size: 1.25em;
  text-shadow: 3px 3px 8px #c2948a;
}

#paw {
  height: 40px;
  width: 40px;
}

.content-panel {
  width: 1200px;
  height: 700px;
  margin-left: 100px;
  border: solid black 1px;
  background-color: #fafafa;
  position: relative;
}

.main-picture {
  width: 450px;
  height: 300px;
  border: solid black 1px;
  background-color: white;
  margin-left: 30px;
  margin-top: 30px;
}

.main-text {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 8px;
  right: 30px;
}

.main-text p {
  font-size: 22px;
}

#get-started {
  margin-left: 90px;
  margin-top: 50px;
  color: #c2948a;
  text-shadow: 2px 2px 5px black;
}

.info-panel {
  width: 1200px;
  height: 280px;
  text-align: center;
}

.info-box {
  width: 300px;
  height: 200px;
  border: black solid 1px;
  display: inline-block;
  margin: 25px;
  vertical-align: top;
  background-color: #7ea8be;
  border-radius: 10px;
}

.info-box button {
  border-radius: 15px;
  box-shadow: 5px 5px 12px black;
}

.number {
  font-size: 60px;
  float: left;
  width: 30px;
  margin-top: 0px;
  margin-left: 15px;
}

#box-text {
  height: 75px;
  width: 200px;
  margin-left: 80px;
  padding-top: 10px;
  text-align: left;
}

.info-box button {
  margin-left: -35px;
  background-color: #c2948a;
}

.rose {
  color: #c2948a;
  text-shadow: 2px 2px 5px black;
}

#main-pic {
  height: 100%;
  width: 100%;
}

.new-member-form input{
  margin: 8px;
}

.new-member-form {
  height: 600px;
  width: 550px;
  margin-left: 300px;
  margin-top: 10px;
  background-color: #7ea8be;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
}

.new-member-form button {
  background-color: #c2948a;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  box-shadow: 5px 5px 10px black;
}

.private-info {
  border: solid #3a606e 3px;
  border-radius: 10px;
}

.user-profile {
  height: 600px;
  width: 475px;
  margin-left: 50px;
  margin-top: 25px;
  background-color: #7ea8be;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
}

.dog-info-box {
  height: 400px;
  width: 545px;
  margin-left: 610px;
  margin-top: -618px;
  background-color: #c2948a;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
}

.dog-info-box th {
  text-align: left;
}

.dog-info-box tr td {
  padding: 5px;
}

.dog-info-box button {
  margin-top: 10px;
  background-color: #7ea8be;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  box-shadow: 5px 5px 10px black;
}

.close {
  margin-top: -12px;
}

.inline {
  margin-top: -34px;
  margin-left: 240px;
}

.user-profile-box h2{
  text-align: center;
}

.personal-info {
  text-align: center;
}

.personal-info2 {
  margin-left: 10px;
}

#bold {
  font-weight: bold;
  font-style: italic;
  color: #3a606e;
}

.new-dog-form {
  height: 330px;
  width: 450px;
  margin-left: 350px;
  margin-top: 50px;
  background-color: #c2948a;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
}

.new-dog-form input{
  margin: 8px;
}

.new-dog-form button {
  background-color: #7ea8be;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  box-shadow: 5px 5px 10px black;
}

.user-profile-box h1 {
  margin-left: 770px;
  text-decoration: none;
  /*this is not taking the underline away*/
}

.login-form {
  height: 150px;
  width: 310px;
  margin-left: 350px;
  margin-top: 50px;
  background-color: #c2948a;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
  padding-top: 50px;
  padding-left: 50px;
}

.login-form input{
  margin: 8px;
}

.login-form button {
  background-color: #7ea8be;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  box-shadow: 5px 5px 10px black;
}

.tripbox {
  width: 800px;
  height: 300px;
  position: absolute;
  top: 12px;
  right: 30px;
  background-color: #7ea8be;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
}

.mailbox {
  width: 800px;
  height: 300px;
  position: absolute;
  top: 350px;
  right: 30px;
  background-color: #c2948a;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
}

.choicebox {
  height: 250px;
  width: 280px;
  position: absolute;
  top: 12px;
  left: 40px;
}

.choicebox a {
  text-decoration: none;
  color: #3a606e;
}

.choicebox a:hover {
  color: #7ea8be
}

.user-profile-box a {
  text-decoration: none;
  color: #3a606e
}

.user-profile-box a:hover {
  color: #7ea8be
}

.new-trip {
  height: 400px;
  width: 425px;
  margin-left: 345px;
  margin-top: 20px;
  background-color: #7ea8be;
  border-radius: 10px;
  padding: 15px;
  padding-left: 60px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
}

.new-trip button {
  background-color: #c2948a;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  box-shadow: 5px 5px 10px black;
}

.new-trip input{
  margin: 8px;
}

.all-trips {
  height: 600px;
  width: 1085px;
  margin-left: 50px;
  margin-top: 30px;
  background-color: #c2948a;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
}

.format-table th {
  text-align: left;
}

.format-table tr td {
  padding: 5px;
}

.format-table h2 {
  color: #3a606e;
}

.format-table th {
  padding-bottom: 10px;
}

.format-table tbody tr:hover {
  color: #3a606e;
}

.format-table button {
  background-color: #7ea8be;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  box-shadow: 5px 5px 10px black;
}

.format-table td {
   border-bottom: 1px solid #000;
 }

 .format-table table {
   border-collapse: collapse;
 }

 .current-requests button {
   background-color: #3a606e;
   border-radius: 10px;
   color: white;
   font-size: 12px;
   box-shadow: 5px 5px 10px black;
 }

 ul.tripbox-header li {
   display: inline;
   list-style-type: none;
   margin: 0;
   padding: 12px;
   margin-bottom: 20px;
 }

 ul.tripbox-header {
  background-color: #3a606e;
  padding: 0;
  border-radius: 6px;
  margin-top: -2px;
  height: 50px;
  width: 515px;
}

ul.tripbox-header li h3:hover{
  color: #c2948a;
}

ul.tripbox-header li h3{
  display: inline-block;
}

.show-box {
  height: 400px;
  width: 475px;
  margin-left: 50px;
  margin-top: 25px;
  background-color: #7ea8be;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
}

.public-dog-info-box {
  height: 400px;
  width: 545px;
  margin-left: 600px;
  margin-top: -415px;
  background-color: #c2948a;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
}

.public-dog-info-box th {
  text-align: left;
  color: #3a606e;
}

.public-dog-info-box tr td {
  padding: 5px;
}

.public-dog-info-box button {
  margin-top: 10px;
  background-color: #7ea8be;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  box-shadow: 5px 5px 10px black;
}

.public-profile-dashboard a {
  color: #3a606e;
  margin-left: 500px;
  text-decoration: none;
}

.public-profile-dashboard a:hover {
  color: black;
}

.all-trips a {
  text-decoration: none;
  color: white;
}

.sitter-requests-link a{
  text-decoration: none;
  margin-left: 50px;
  color: #3a606e;
}

.sitter-requests-link a:hover{
  color: #7ea8be;
}

.apply-form {
  height: 250px;
  width: 500px;
  margin-left: 330px;
  margin-top: 50px;
  background-color: #7ea8be;
  border-radius: 10px;
  padding: 15px;
  padding-left: 15px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
}

.apply-form button {
  background-color: #c2948a;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  box-shadow: 5px 5px 10px black;
}

.responses {
  height: 550px;
  width: 1000px;
  margin-left: 90px;
  margin-top: 30px;
  background-color: #c2948a;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 10px 10px 12px #888888;
}

.response a{
  text-decoration: none;
  margin-left: 90px;
  color: #3a606e;
}

.response a:hover{
  color: #7ea8be;
}

.accepted-requests button {
  background-color: #3a606e;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  box-shadow: 5px 5px 10px black;
}

ul.mailbox-header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 12px;
  margin-bottom: 20px;
}

ul.mailbox-header {
 background-color: #3a606e;
 padding: 0;
 border-radius: 6px;
 margin-top: -2px;
 height: 50px;
 width: 190px;
}

ul.mailbox-header li h3:hover{
 color: #c2948a;
}

ul.mailbox-header li h3{
 display: inline-block;
}
