nav {
  background-color: black;
  height: 5em;
}

nav ul {
	list-style-type: none;
  display: inline;
}

nav ul li{
	display: inline;
}

#left-nav {

}

#right-nav {
  float: right;
}

#left-nav a {
  font-size: 3.5em;
  padding: .5em;
}

nav ul li a {
	text-decoration: none;
	padding: 1em;
	color: #fff;
  font-size: 1.5em;
}

nav ul li a:hover {
	color: blue;
}
