.App {
  background-color: #f7e8d9;
}

nav {
  background-color: #3a606e;
  height: 5em;
}

nav ul {
	list-style-type: none;
  display: inline;
}

nav ul li{
	display: inline;
}

#right-nav {
  float: right;
}

#left-nav a {
  font-size: 3em;
  padding: .5em;
}

nav ul li a {
	text-decoration: none;
	padding: 1em;
	color: #fff;
  font-size: 1.25em;
  text-shadow: 3px 3px 8px #c2948a;
}

nav ul li a:hover {
	color: #c2948a;
}

.content-panel {
  width: 1200px;
  height: 700px;
  margin-left: 100px;
  border: solid black 1px;
  background-color: #fafafa;
  position: relative;
}

.main-picture {
  width: 450px;
  height: 300px;
  border: solid black 1px;
  background-color: white;
  margin-left: 30px;
  margin-top: 30px;
}

.main-text {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 8px;
  right: 30px;
}

.main-text p {
  font-size: 22px;
}

#get-started {
  margin-left: 90px;
  margin-top: 50px;
  color: #c2948a;
  text-shadow: 2px 2px 5px black;
}

.info-panel {
  width: 1200px;
  height: 280px;
  text-align: center;
}

.info-box {
  width: 300px;
  height: 200px;
  border: black solid 1px;
  display: inline-block;
  margin: 25px;
  vertical-align: top;
  background-color: #7ea8be;
}

.number {
  font-size: 60px;
  float: left;
  width: 30px;
  margin-top: 0px;
  margin-left: 15px;
}

#box-text {
  height: 75px;
  width: 200px;
  margin-left: 80px;
  padding-top: 10px;
  text-align: left;
}

.info-box button {
  margin-left: -35px;
  background-color: #c2948a;
}

.rose {
  color: #c2948a;
  text-shadow: 2px 2px 5px black;
}

#main-pic {
  height: 100%;
  width: 100%;
}
